:root {
    --backgroundBlack: #000000;
    --accentTeal: #45B5AA;
    --accentWhite: azure;
    --hoverBlue: #45B5AA;
    --terracotta: #E2725B;
    --titleFont: 'Lobster Two', sans-serif;
    --textFont: 'Open Sans', sans-serif;
    --background: #e2e8f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }
  
  .wrapper {
    width: 100%;
    max-width: screen;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
  }

    .navbar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: var(--backgroundBlack);
    position: sticky;
    top: 0;
    z-index: 50;
    }

  .mr-auto {
    align-items: center;
  }


   @media(max-width: 992px){
    .navbar {
      width: 100%;
      transition: 0.5s all ease-in-out;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    } 
}

@media(max-width: 992px){
    .mr-auto {
      max-width: 350px;
      display: flex;
      justify-content: space-evenly;
      align-items: stretch;
    } 
}

.justify-content-end {
    justify-content: end;
}

@media(max-width: 992px){
    .justify-content-end {
      display: flex;
      justify-content: center !important;
    } 
}

  #title {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--titleFont);
    display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: var(--accentWhite);
  }

  .links {
    border: 2px solid var(--accentTeal);
    margin: 5px 5px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none; /* To remove default underline */
    color: var(--accentWhite);
  }

  .links:hover {
    background-color: cadetblue;
  }

  .navbar-nav .nav-link.active {
    background-color: var(--hoverBlue);
  }

  .navbar-toggler {
    border-color: var(--accentTeal);
  }

  .navbar-toggler-icon {
    color: var(--accentTeal);
    /* background-color: var(--accentTeal); */
  }

  .bs-navbar-toggler-icon-bg {
    background-image: var(--toggle);
  }

  .links.nav-link {
    color: var(--accentWhite);
  }

  .modal-content {
    background-color: var(--backgroundBlack);
    border-color: var(--accentTeal);
  }

  .form-label {
    color: var(--accentWhite);
  }

  .form-control {
    border-color: var(--accentTeal);
  }

  .nav-pills .nav-link.active {
    background-color: var(--hoverBlue);
  }

  .modal-header {
    flex-direction: column;
  }

  .nav-item {
    text-decoration: none;
  }

  .nav .nav-link:hover {
    color: var(--accentWhite);
  }

  .nav .nav-link {
    color: var(--accentWhite);
  }

  .btn-btn-success {
  border: 2px solid var(--accentTeal);
  margin: 5px 5px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none; /* To remove default underline */
  color: var(--accentWhite);
  }

  .main {
    background-color: var(--background);
    
  }

  .homeContainer {
    margin-bottom: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (max-width: 768px) {
    .homeContainer {
      margin-bottom: 60px;
      margin-top: 20px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .flexContainer {
    display: flex;
    justify-content: center;
  }

  .textHighlight {
    font-family: var(--titleFont);
    color: var(--accentTeal);
    font-size: larger;
  }

  .text-center.description {
    border: 4px solid var(--accentTeal);
    margin-inline: 20px;
    margin-block: 20px;
    padding: 15px;
    border-radius: 15px;
    font-family: var(--textFont);
    background-color: var(--backgroundBlack);
    color: var(--accentWhite);
    max-width: 1000px;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    .d-flex.justify-content-md-center.flex-wrap {
      justify-content: center;
    }
  }

.card {
  margin: 10px;
  width: 390px;
  background: white;
  padding: .6em;
  border-radius: 15px;
  border: 2px solid ;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  
}

.card-lg {
  margin: 5px auto;
  width: 65%;
  background: white;
  padding: .4em;
  border-radius: 6px;
  border-width: 1px;
  border: solid;
  border-color: var(--accentTeal);
  text-align: center;
  
}

.card-image {
  background-color: var(--accentTeal);
  width: 100%;
  border-radius: 15px;
  box-shadow : 0 5px 15px rgba(0,0,0,0.4);
  z-index : 1;
}

.card-image-lg {
  border-radius: 6px;
  width: 100%;
}

/* .card-image:hover {
  transition-duration: 500ms, 500ms;
  transform: scale(0.9);
} */

.title {
  text-transform: uppercase;
  height: 80px;
  font-size: 24px;
  font-weight: 600;
  color: var(--accentTeal);
  padding: 10px 7px 0;
  text-align: center;
}

.title:hover {
  cursor: pointer;
  color: rgb(19, 21, 24);
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
  height: 100px;
  text-align: center;
}

.heading:hover {
  cursor: pointer;
}

.cardActions {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 15px;
}

.h2Custom {
  margin-bottom: 0;
}

.comic-button {
  width: 200px;
  padding: 1px 1px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--accentWhite);
  background-color: var(--accentTeal);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 3px 3px 0px #000;
  transition: all 0.3s ease;
}

.comic-button:hover {
  background-color: #fff;
  color: #3db4a8;
  border: 2px solid #3db4a8;
  box-shadow: 5px 5px 0px #3db4a8;
}

.footer{ 
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--titleFont);
  font-size: 17px;
  background-color: var(--backgroundBlack);
  color: var(--accentWhite);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  bottom: 0;
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    font-size: 15px;
    padding-inline: 18px;
  }
}

.footerWrapper {
  margin-inline: 30px;
  text-align: center;
}

.footer .description {
  max-width: 800px;
}
.footer .contact a, .footer .social-media a {
  color: var(--accentTeal);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-header {
  margin: 50px;
  padding: 20px;
  font-family: var(--titleFont);
}

.cardQuan {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.inputBar {
  padding: 0.500rem;
  font-size: 1rem;
  color: #1a202c;
  background-color: #f9fafb; 
  border-radius: 0.375rem;
  border: 1px solid var(--accentTeal);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.cardRemove {
  border: 1px solid var(--accentTeal);
  padding: 6px;
  border-radius: 10px;
  color: var(--accentWhite);
  background-color: var(--accentTeal);
}

.cardRemove:hover {
  color: var(--accentTeal);
  background-color: var(--accentWhite);
  cursor: pointer;
}

.cart {
  /* viewport-fit: 100%; */
  min-height: 65vh;
}

.checkOutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 20px;
}
.checkoutTotal {
  padding-inline: 15px;
  font-weight: 600;
  font-size: larger;
  border-bottom: 1px solid;
}

.clearCart {
  padding-inline: 15px;

}

.loginCheckout {
  padding-inline: 15px;
}